doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Hello, I'm a Basil plant
    meta(name="description", content="Soil moisture monitoring and notification")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
    link(rel="shortcut icon", href="favicon.ico")

  body
    h1 Hello, I'm a Basil plant 
      br
      small
        a(href="https://github.com/sayanee/basil") docs and code

    .status
      p#status !{status}
      span(id=datetime, data-datetime="#{datetime}") #{datetime_relative}
      span#soc=soc
      if sample 
        span#sample sample data!
        
      div(id="battery" class="battery" data-charge="#{battery_status}")
        
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js")   
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js") 
    script(src="script.js")
