doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Hello, I'm a Basil plant
    meta(name="description", content="Soil moisture monitoring and notification")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
    link(rel="shortcut icon", href="favicon.ico")

  body
    h1 Hello, I'm a Basil plant 
      br
      small
        a(href="https://github.com/sayanee/basil") docs and code
    
    .container
      ul.timeline
        li.status
          .status-left
            span(class="datetime", id="datetime", data-datetime="#{datetime}") #{datetime_relative}
          .status-right
            p.account sayanee / basil
              span(id="battery" class="battery" data-charge="#{battery_status}")
                span(class="helptext-battery")=soc
            p#status !{status}
            if sample 
              span#sample sample data!
            
        li.status
          .status-left
            span(class="datetime", data-datetime="2016-03-29T23:24:23.037Z") 4 hours ago
          .status-right
            p.account sayanee / mint
              span(class="battery" data-charge="9")
                span(class="helptext-battery") 90% left
            p My temperature is <strong>28.8°C</strong>, battery voltage is <strong>4.2V</strong>
                                
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js")   
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js") 
    script(src="script.js")
