doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Hello, I'm a Basil plant
    meta(name="description", content="Soil moisture monitoring and notification")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
    link(rel="shortcut icon", href="favicon.ico")

  body
    h1 Hello, We are plants 
      br
      small
        a(href="https://github.com/sayanee/basil") docs and code
    
    .container
      ul.timeline
        li.status
          .status-left
            span(class="datetime", id="datetime", data-datetime="#{datetime}") #{datetime_relative}
            if need_charge
              span.alert.trigger
                include ./icon/plug.jade
            if need_water
              span.alert.trigger
                include ./icon/water.jade
            if success
              span.alert.success 
                include ./icon/ok.jade
          .status-right
            p.account sayanee / basil
              if soc
                span(id="battery" class="battery" data-charge="#{battery_status}")
                  span(class="helptext-battery")=soc
                span.sample#sample 
                  if sample 
                    | sample data
            p#status !{status}
            if soc
              .graph#graph
            
        li.status
          .status-left
            span(class="datetime", data-datetime="2016-03-29T23:24:23.037Z") 4 hours ago
          .status-right
            p.account hackerspacesg / cactus
              span(class="battery" data-charge="9")
                span(class="helptext-battery") 90%
            p My soil moisture is <strong>50%</strong>.
          
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js")   
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js")
    script(src="script.js")
